* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
}

article{
    bottom: 110px;
}

#playPannel {
    display: block;
    position:fixed;
    bottom:0;
    width: 100vw;
    height: 110px;
    background: rgb(120,120,240);
    z-index: 999;
}

#songList, #playingList{
    display: block;
    width: 100vw;
    height:40vh;
    overflow: scroll;
}
